/* Reset and Base Styles */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Nunito Sans', sans-serif;
    background: #232946;
    color: #b8c1ec;
}

h1,
h2,
h3 {
    color: #eebbc3;
}

h1 {
    font-size: 1.75rem;
    margin-bottom: 2rem;
}

h2 {
    color: #fffffe;
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
}

h3 {
    font-size: 1.25rem;
    margin-bottom: 1rem;
}

img {
    max-width: 100%;
}

/* Utilities */
.text-center {
    text-align: center;
}

/* Layout */
.container {
    margin: auto;
    padding: 0 20px;
    width: 100%;
}

.row {
    display: flex;
    flex-direction: column;
}

.col {
    width: 100%;
    margin-bottom: 2rem;
}

.site-header {
    padding-top: 3rem;
}

/* Section Specific Styles */
.lessons .col img,
.steps .col img {
    height: auto;
}

.steps {
    background: #eebbc3;
    color: #232946;
    padding: 3rem 0;
}

.steps h2,
.steps h3 {
    color: #232946;
}

.why-us {
    margin-bottom: 3rem;
}

.why-us .col-left,
.why-us .col-right {
    width: 100%;
}

.why-us li {
    list-style: none;
    margin-bottom: 2.5rem;
}

/* Tablet Styles */
@media (min-width: 481px) and (max-width: 768px) {
    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.75rem;
    }

    h3 {
        font-size: 1.5rem;
    }

    .container {
        padding: 0 10px;
    }

    .row {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .lessons .col,
    .steps .col {
        width: 50%;
    }

    .why-us .col-left {
        width: 40%;
    }

    .why-us .col-right {
        width: 60%;
    }
}

/* Desktop Styles */
@media (min-width: 769px) {
    h1 {
        font-size: 2.5rem;
        margin-bottom: 3rem;
    }

    h2 {
        font-size: 2rem;
        margin-bottom: 2.5rem;
    }

    h3 {
        font-size: 1.5rem;
        margin-bottom: 1rem;
    }

    .container {
        max-width: 1140px;
        padding: 0 20px;
    }

    .row {
        flex-direction: row;
    }

    .lessons .col,
    .steps .col {
        width: calc(100% / 3);
    }

    .why-us .col-left {
        width: 40%;
    }

    .why-us .col-right {
        width: 60%;
    }
}

@media (max-width: 480px) {
    .container {
        padding: 0 20px;
        width: 100%;
    }

    .row {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .col,
    .lessons .col,
    .steps .col,
    .why-us .col-left,
    .why-us .col-right {
        width: 100%;
        margin-bottom: 1rem;
    }

    .site-header h1,
    .text-center h2,
    .card h3,
    .why-us h2,
    .why-us li h3 {
        font-size: 1.5rem;
        line-height: 1.2;
        padding: 0 20px;
    }

    .card .text,
    .why-us li p {
        font-size: 1rem;
        padding: 0 20px;
    }

    .card img,
    .why-us img {
        width: 100%;
        height: auto;
        margin-bottom: 1rem;
    }

    .card,
    .why-us li {
        text-align: left;
        padding: 20px;
    }
}